#me {                     /* styling the image into a circular shape */
  float: left;
  margin-left: 15rem;
  padding-bottom: 5rem;
  width: 200px;
  height: 200px;
  border-radius: 50%
}

#me-text {
  margin-right: 3rem;
  margin-left: 35rem;
}
/* using css shape to shape the image into a circular shape */
#progimg {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin: 0 25px 5px 0;
  float: right;
  shape-outside: circle();
}

#progtext {
  margin-right: 10rem;
  margin-left: 12rem;
}
/* using css shape to shape the image into a circular shape */
#prog2 {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin: 0 25px 5px 0;
  float: left;
  shape-outside: circle();
}

#progtext2 {
  margin-right: 10rem;
  margin-left: 20rem;
  margin-top: 5rem;
}
/* The grid container. Styling so the sections are ordered using css grid. Using a different layout than the other grid container */
.grid-container3 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'section2 section2 section2 section2 section2 section2'
    'left left middle middle right right'
    'section4 section4 section4 section4 section4 section4'
    'footer footer footer footer footer footer';
}

#codetext {
  font-size: 16pt;
}
/* styling the editors where users input */
#code-editor {
  height: 250px;
  border: solid 5px blue;
  width: 350px;
  display: inline;
  margin-right: 10rem;
  margin-left: 20rem;
  font-size: 16pt;
}
#editor {
  width: 250px;
  height: 350px;
  display: inline;
  border: solid 5px blue;
  align-items: center;
}
#revealbutton {
  width: 100px;
  height: 50px;
  margin-left: 2.5rem;
  background-color: #143AC3;
  font-size: 16pt;
  color: white;
}

.level1h2 {
  margin-left: 3rem;
}
/* The grid container. Styling so the sections are ordered using css grid. Using a different layout than the other grid container */
.grid-container4 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'section2 section2 section2 section2 section2 section2'
    'section3 section3 section3 section3 section3 section3'
    'section4 section4 section4 section4 section4 section4'
    'section5 section5 section5 section5 section5 section5'
    'section6 section6 section6 section6 section6 section6'
    'section7 section7 section7 section7 section7 section7'
    'footer footer footer footer footer footer';
}
/* styling section2 and linking it to the correct grid container for css grid layout */
.section6 {
  grid-area: section6;
  text-align: center;
  font-size: 16pt;
  border-top: solid #FFFF80 0.5rem;
  background-color: orange;
  width: 100%;
}
.section7 {                                 /* styling section2 and linking it to the correct grid container for css grid layout */
  grid-area: section7;
  text-align: center;
  font-size: 16pt;
  border-top: solid #FFFF80 0.5rem;
  background-color: #E8E8E8;
  width: 100%;
}
#learn-button2 {
  background-color: #143AC3;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 24pt;
}
#inputbutton {
  background-color: #143AC3;
  color: white;
  font-size: 16pt;
  height: 70px;
  width: 150px;
  float: right;
}
#code-editor2, #code-editor3, #code-editor4, #code-editor5, #code-editor6 {             /* styling the elements together to reduce duplicate code */
  height: 100px;
  border: solid 5px blue;
  width: 250px;
  float: right;
  margin-right: 8rem;
  margin-left: 20rem;
  font-size: 16pt;
  margin-bottom: 5rem;
}
