/* setting the styling for the main font for the body*/
body {
  font-family: Helvetica;
  color: black;
  font-size: 16pt;
}
/* styling the header for every page */
.header {
  grid-area: header;          /* linking the header to the grid layout set */
  overflow: hidden;
  background-color: #143AC3;
  width: 100%;
  height: 200px;
  color: white;
  font-size: 16pt;
}
/* styling the size of the logo */
#logo {
  width: 300px;
  height: 150px;
}
/* styling the header links */
ul {
  list-style-type: none;
  margin-top: 0;
  padding-bottom: 10rem;
  color: white;
  margin-left: 25rem;
}

li {
  float: left;
  margin-right: 100px;
  margin-top: 0;
}
/* styling the header links */
li a {
  display: block;
  color: white;
  margin-top: 0;
}

#nav a {
  color: white;
  text-decoration: none;
}
/* Making the nav links underline when a user hovers over them */
#nav a:hover {
    color: white;
    text-decoration: underline;
}

/* Style the section1 */
.section1 {
  grid-area: section1;                    /* linking the section to the main grid layout for the grid container */
  background-color: #E8E8E8;
  padding: 30px;
  text-align: center;
  font-size: 16pt;
  border-top: solid #FFFF80 0.5rem;
}

/* The grid container. Styling so the sections are ordered using css grid */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'left left middle middle right right'
    'section4 section4 section4 section4 section4 section4'
    'section5 section5 section5 section5 section5 section5'
    'footer footer footer footer footer footer';
}
/* The grid container. Styling so the sections are ordered using css grid. Using a different layout than the other grid container */
.grid-container2 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'section1 section1 section1 section1 section1 section1'
    'section2 section2 section2 section2 section2 section2'
    'section3 section3 section3 section3 section3 section3'
    'footer footer footer footer footer footer';
}
/* styling section2 and linking it to the correct grid container for css grid layout */
.section2 {
  grid-area: section2;
  background-color: orange;
  text-align: center;
  font-size: 16pt;
  border-top: solid #FFFF80 0.5rem;
}
/* styling section2 and linking it to the correct grid container for css grid layout */
.section3 {
  grid-area: section3;
  background-color: #8F008F;
  color: white;
  text-align: center;
  font-size: 16pt;
  border-top: solid #FFFF80 0.5rem;
}

/* styling the left column and linking it to the correct grid container for css grid layout */
.left {
  grid-area: left;
  background-color: #FF8000;
  border-top: solid #FFFF80 0.5rem;
  padding: 10px;
  height: 300px;
}

/* styling the middle column and linking it to the correct grid container for css grid layout */
.middle {
  grid-area: middle;
  background-color: #7D7DFF;
  border-top: solid #FFFF80 0.5rem;
  padding: 10px;
  height: 300px;
}

/* styling the right column and linking it to the correct grid container for css grid layout */
.right {
  grid-area: right;
  background-color: #FF8000;
  border-top: solid #FFFF80 0.5rem;
  padding: 10px;
  height: 300px;
}
/* styling section4 and linking it to the correct grid container for css grid layout */
.section4 {
  grid-area: section4;
  background-color: #C2C2C2;
  padding: 30px;
  text-align: center;
  font-size: 16pt;
  border-top: solid #FFFF80 0.5rem;
}
/* styling section5 and linking it to the correct grid container for css grid layout */
.section5 {
  grid-area: section5;
  background-color: #7D7DFF;
  text-align: center;
  font-size: 16pt;
  border-top: solid #FFFF80 0.5rem;
}
/* styling the footer for every page and linking it to the correct grid container for css grid layout */
.footer {
  grid-area: footer;
  background-color: #143AC3;
  text-align: center;
}
/* making the learn button big and easily clickable */
#learn-button {
  background-color: #143AC3;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 24pt;
  margin: 4px 2px;
}
#learn-img {                  /* styling the size of the image */
  width: 200px;
  height: 100px;
  margin-left: 9rem;
}
p {                           /* making consistent font for paragraph elements */
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
/* styling the headings */
h1 {
  font-size: 24pt;
}
h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 20pt;
}
/* styling the links in text */
a:link {
  text-decoration: none;
  font-size: 22pt;
}
#animation {                /* styling the colour and font of the animation */
  font-size: 32pt;
  color: blue;
  font-weight: bold;
}

/* Responsive layout
 making the columns stack on top of each other instead of next to each other for use on a mobile device */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas:
      'header header header header header header'
      'section1 section1 section1 section1 section1 section1'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
  }
}
